.box {
     position: absolute;
     width: 453px;
     height: 449px;
     background-color: #cccccc;
     border: 1px solid #999999;
     top: 3343px;
     left: 413px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #333;
   }