.large {
  position: 'absolute'; 
  width: '250px';       
  height: 'auto';      
  top: '300px';        
  left: '130px';       
  z-index: 0;          
  border-radius: '50%';  
  object-fit: 'cover';
}
.small{
  position: 'absolute'; 
  width: '150px';     
  height: 'auto';      
  top: '50px';        
  left: '500px';      
  z-index: 0;         
  transform: 'rotate(45deg)'; 
  border-radius: '50%';  
  object-fit: 'cover';  
};