.wall-waiver-container {
    background-color: white;
    padding: 3rem 1rem;
    text-align: center;
  }

  .wall-waiver-heading {
    color: black;
    font-weight: 700;
    line-height: 48px;
    font-size: 48px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-top: 4%;
    margin-bottom: 0;
    padding: 0;
    align-self: center;
    z-index: 1;
  }

  .wall-waiver-text {
    color: black;
    font-weight: 250;
    line-height: 32px;
    word-spacing: 2px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    align-self: center;
    text-align: center;
    z-index: 1;
  }

  .wall-waiver-button {
    background-color: #00B19E;
    border: none;
    border-radius: 30px;
    padding: 0.8rem 1.5rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }