.carousel-container {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 16px;
 margin-top: 40px;

}

.nav-btn {
 font-size: 2rem;
 background: none;
 border: none;
 cursor: pointer;
 user-select: none;
}


