.photo-card {
 width: 250px;
 height: 300px;
 border-radius: 10px;
 overflow: hidden;
 box-shadow: 0 8px 16px rgba(0,0,0,0.2);
 background: white;
 text-align: center;
 transition: transform 1s ease;
}

.photo-img {
 width: 85%;
 height: 70%;
 object-fit: cover;
}

.photo-caption {
 padding: 10px;
 font-weight: bold;
}


.photo-card:hover{
 transform: scale(1.05);
 box-shadow: 0 12px 24px rgba(0,0,0,0);
}


.inner{
  white-space: rowrap;
  transition: transform 0.3 s;
}


.photo-buttons{
  display:flex;
  justify-content: space-evenly;
}


.button-arrow{
  background: none;
  border: none;
  cursor:pointer;
  margin-top: 20px;
}

.indicators{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}