.slider {
   position: relativ;
   width: 2100px;
   height: calc(var(--slide-height) + 10px);
   overflow: hidden;
   margin: 0 auto;
}


.slider-track{
   position: absolute;
   top: 0;
   display: flex;
   transition: transform 0.3s ease-in-out;
}


.slide{
   width: var(--slide-width);
   height: var(--slide-height);
   border: 2px solid rgba(180, 180, 180, 0.6);
   border-radius: 10px;
   margin: 0 var(--gap);
   box-shadow: 0 1px 1px rgba(0,0, 0.25), 0 2px 8px rgba(0,0,0,0.25),
   inset 0 0 0 1px rgba(255, 255, 255, 0.1);
   overflow: hidden;
   text-align: center;
}


.slide img{
   border-radius: inherit;
   transition: all 0.5s ease-in;
   user-select: none;
   width: 100%;
   height: 75%;
   text-align: center;
   object-fit: cover;
   border-radius: 0px;


}


.slide {
width: 250px;
height: 300px;
border-radius: 0px;
overflow: hidden;
box-shadow: 0 8px 16px rgba(0,0,0,0.2);
background: white;
text-align: center;
transition: transform 1s ease;


}


.slide:hover{
   transform: scale(1.2);
}


.scrollLeft{
   animation: scrollLeft var(--time) linear infinite;
}




.scrollRight{
   animation: scrollRight var(--time) linear infinite;
}


@keyframes scrollLeft {
   0%{
       transform: translateX(0);
   }
   100%{
       transform: translateX(
       calc(-1 * var(--slide-count) * (var(--slide-width) + var(--gap) *2))
       );
   }
}


@keyframes scrollRight {
   0%{
       transform: translateX(
       calc(-1 * var(--slide-count) * (var(--slide-width) + var(--gap) *2))
       );
   }
   100%{
       transform: translateX(0);
   }
}


.slider-track:has(.slide img:hover){
   -webkit-animation-play-state: paused;
   animation-play-state: paused;
}


@media(max-width:1110px){
   .slider{
       width: 850px;
   }
}
@media(max-width:860px){
    .slider{
       width: 650px;
   }
}
@media(max-width:660px){
    .slider{
       width: 450px;
   }
}
@media(max-width:460px){
    .slider{
       width: 380px;
   }
}
