html, body {
  background-color: #141411;
  height: 7217px;
  background-image: url('src/assets/Group_2.png');
  background-size: 100% auto; /* 100% width, auto height */
  background-repeat: no-repeat;
  background-position: center -150px;
}
